<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}demo121/css/common.css">
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}demo121/css/thems.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}demo121/swiper/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}demo121/swiper/swiper-3.3.1.min.css" />
		<script src="{CSS_PATH}demo121/js/jquery-2.2.3.min.js"></script>
		<script src="{CSS_PATH}demo121/swiper/swiper-3.3.1.min.js"></script>
		<script src="{CSS_PATH}demo121/swiper/swiper.animate1.0.2.min.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="doctor-list">
				{pc:content action="lists" catid="$catid" num="100"  return="info"}
					<ul>
					{loop $info $val}
						<li>
							<a href="{$val[url]}">
								<img src="{$val[thumb]}" />
								<span>{$val[keywords]}</span>
								<p>{$val[title]}</p>
							</a>
						</li>
					{/loop}
					</ul>
				{/pc}
				</div>
			</div>
		</div>
	</body>

</html>