<!-- header开始 -->
<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/common.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/Online_hospital.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/header.css"/>
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/footer.css"/>
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/swiper/swiper-3.3.1.min.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/Department.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/Hospital_profile.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/Department_details.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/pagination.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 770px)" href="{CSS_PATH}726/doctor.css" />
		<script media="screen and (min-width: 770px)" type="text/javascript" src="{JS_PATH}726/jquery-1.11.0.js"></script>
		<script media="screen and (min-width: 770px)" src="{CSS_PATH}726/swiper/swiper-3.3.1.min.js"></script>
		<script media="screen and (min-width: 770px)" type="text/javascript" src="{JS_PATH}726/Online_hospital.js"></script>
		
		
		
		
		
		
		
		
		<script media="screen and (max-width: 769px)" src="{CSS_PATH}1020/index.js"></script>
		<link rel="stylesheet"  media="screen and (max-width: 769px)" href="{CSS_PATH}1020/bootstrap.min.css">
		<link rel="stylesheet"  media="screen and (max-width: 769px)" type="text/css" href="{CSS_PATH}1020/index.css" />
		<link rel="stylesheet" media="screen and (max-width: 769px)" type="text/css" href="{CSS_PATH}1020/header.css" />
		<script media="screen and (max-width: 769px)" src="{JS_PATH}726/jquery-1.11.0.js"></script>
		<script media="screen and (max-width: 769px)" src="{CSS_PATH}1020/bootstrap.min.js"></script>
		<style type="text/css">
			.box1 {
				display: none;
			}
			
			.container {
				display: block;
			}
			
			@media screen and (min-width: 769px) {
				.box1 {
					display: block;
				}
				.container {
					display: none;
				}
			}
		</style>
	</head>

	<body>
	<div class="box1">
		<header style="background: url({IMG_PATH}726/header.png) no-repeat;background-size:100% 100%;">
			<div class="top">
			
				
				<div class="On_logo"><img src="{IMG_PATH}1019/logo2.png" /></div>
				<ul class="nav_list">
				
					
				
				
					<li>
						<a href="{siteurl($siteid)}">医院首页</a>
					</li>
					<li>
						<a href="{$CATEGORYS[155][url]}">医院概况</a>
					</li>
					<li>
						<a href="{$CATEGORYS[161][url]}">科室介绍</a>
					</li>
					<li>
						<a href="{$CATEGORYS[158][url]}">医护团队</a>
					</li>
					<li>
						<a href="{$CATEGORYS[163][url]}">门诊相关</a>
					</li>
					<li>
						<a href="{$CATEGORYS[168][url]}">注意事项</a>
					</li>
					<li>
						<a href="{$CATEGORYS[970][url]}">医院新闻</a>
					</li>
				</ul>

			</div>
		</header>