<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}baoxian/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}baoxian/css/style.css"/>
	</head>
	<body>
		<div class="bx_list">
		
			<ul>
				<li>
					<a href="{$CATEGORYS[971][url]}">
					<div class="nr">
						<img src="{CSS_PATH}baoxian/img/pic1.png"/>
						<p>手术麻醉  平安必备</p>
						<p>风险无处不在，保险解决后顾之忧</p>
						<p>都邦麻醉保险</p>
					</div>
					</a>
				</li>
				<li>
					<!--遮罩-->
					<div class="wait">待开放</div>
					<!--内容-->
					<div class="nr">
						<img src="{CSS_PATH}baoxian/img/pic2.png"/>
						<p>安心手术 无忧医疗</p>
						<p>提供手术意外保障，提供意外经济保障</p>
						<p>复星联合手术意外保险</p>
					</div>
				</li>
				<li>
					<!--遮罩-->
					<div class="wait">待开放</div>
					<!--内容-->
					<div class="nr">
						<img src="{CSS_PATH}baoxian/img/pic3.png"/>
						<p>母婴健康1+1</p>
						<p>保妈妈也保你的宝宝</p>
						<p>母婴安康保险</p>
					</div>
				</li>
				<li>
					<!--遮罩-->
					<div class="wait">待开放</div>
					<!--内容-->
					<div class="nr">
						<img src="{CSS_PATH}baoxian/img/pic4.png"/>
						<p>健康保护</p>
						<p>住院费用全面覆盖，全面报销无忧医疗</p>
						<p>住院医疗保险</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
