<!-- header开始 -->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>医院首页</title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/common.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/Online_hospital.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/footer.css"/>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/swiper/swiper-3.3.1.min.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/Department.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/Hospital_profile.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/Department_details.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/pagination.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/doctor.css" />
		<script type="text/javascript" src="{JS_PATH}726/jquery-1.11.0.js"></script>
		<script src="{CSS_PATH}726/swiper/swiper-3.3.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}726/Online_hospital.js"></script>
	</head>
	<body>
		<header style="background: url({IMG_PATH}726/header.png) no-repeat;background-size: 100% 100%;">
			<div class="top">
			
				<span><a><img src="{IMG_PATH}726/back.png"/></a>首页</span>
				<div class="On_logo"><img src="{IMG_PATH}726/logo2.png" /></div>
				<ul class="nav_list">
					<li>
						<a href="index.php">医院首页</a>
					</li>
					<li>
						<a href="index.php?m=content&c=index&a=lists&catid=40">医院概况</a>
					</li>
					<li>
						<a href="index.php?m=content&c=index&a=lists&catid=28">科室介绍</a>
					</li>
					<li>
						<a href="index.php?m=content&c=index&a=lists&catid=30">医护团队</a>
					</li>
					<li>
						<a href="javascript:;">出诊时间</a>
					</li>
					<li>
						<a href="index.php?m=content&c=index&a=lists&catid=53">注意事项</a>
					</li>
				</ul>			
			</div>
		</header>