<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>保险</title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}baoxian/css/common.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}baoxian/css/style.css" />
	</head>

	<body>
		<!--悬浮二维码-->
		<div class="suspension">
			<img src="{CSS_PATH}baoxian/img/pic40.png" />
			<p>都邦保险</p>
			<p>微信扫一扫</p>
		</div>
		<div class="ins-main">
			<!--标题-->
			<h1 class="title">都邦意外保险</h1>
			<!--banner-->
			<div class="banner">
				<img src="{CSS_PATH}baoxian/img/bx-banner.png" />
			</div>
			<!--摘要-->
			<div class="abstract">
				<div>
					<img src="{CSS_PATH}baoxian/img/pic33.png" />
					<span>
						<h1>手术必不可少的环节</h1>
						<p>麻醉医生是手术幕后的     "生命守护者"</p>
					</span>
				</div>
				<div>
					<img src="{CSS_PATH}baoxian/img/pic34.png" />
					<span>
						<h1>麻醉手术存在风险</h1>
						<p>病理生理变化，麻醉处置失误药物的相互作用以及手术的不良刺激等 因素均可导致意想不到的情况发生</p>
					</span>
				</div>
				<div>
					<img src="{CSS_PATH}baoxian/img/pic35.png" />
					<span>
						<h1>保险提供后续经济保障</h1>
						<p>风险无处不在，保险解决后顾之忧</p>
					</span>
				</div>
			</div>
			<!--优势-->
			<h2>
				<div>
					<span><img src="{CSS_PATH}baoxian/img/dp.png"/></span>
					<span>3/大/优/势/服/务</span>
					<span><img src="{CSS_PATH}baoxian/img/dp.png"/></span>
				</div>
			</h2>
			<div class="advantage">
				<img src="{CSS_PATH}baoxian/img/pic36.png" />
			</div>

			<!--保障方案-->
			<h2>
				<div>
					<span><img src="{CSS_PATH}baoxian/img/dp.png"/></span>
					<span>保/障/方/案</span>
					<span><img src="{CSS_PATH}baoxian/img/dp.png"/></span>
				</div>
			</h2>
			<div class="guarantee">
				<!--<img src="{CSS_PATH}baoxian/img/pic37.png"/>-->
				<h1>保障方案</h1>
				<div id="table_wrap">
					<table class="table" width="800" cellspacing="0" cellpadding="0">
						<thead class="table_head">
							<tr>
								<th class="one"></th>
								<th>麻醉意外伤害保险</th>
								<th>麻醉意外身故保险</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="one">保费</td>
								<td>100元/人</td>
								<td>100元/人</td>
							</tr>
							<tr>
								<td class="one">保额</td>
								<td>10万元/人</td>
								<td>10万元/人</td>
							</tr>
							<tr>
								<td class="one">保障年龄</td>
								<td colspan="2">出生满180天-75周岁</td>

							</tr>
							<tr>
								<td class="one">保障范围</td>
								<td colspan="2">在二级以上(含二级)的公立医院</td>
							</tr>
							<tr>
								<td class="one">保险责任</td>
								<td colspan="2">在符合合同约定麻醉标准的过程中发生麻醉医疗意外或麻醉医疗事故，导致被保险人身麻醉开始后48小时内事故或导致被保险人自麻醉开始后第180天内造成伤残评定标准所到的残疾。
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--须知-->
			<div class="notice">
				<h2>
					<div>
						<span><img src="{CSS_PATH}baoxian/img/dp.png"/></span>
						<span>投/保/须/知</span>
						<span><img src="{CSS_PATH}baoxian/img/dp.png"/></span>
					</div>
				</h2>
				<div class="not-list">
					<ul>
						<li>
							<span>1</span>
							<p class="first">麻醉标准：按ASA麻醉分级标准达到<em>I   II  III</em>级的病分</p>
							<p><em>a)</em>第一级：体格健全发育营养良好，各器官功能正常，围手术期死亡率0.06%-0.08%</p>
							<p><em>b)</em>第二级：除外科疾病外，有轻度并存病功能代偿健全，围手术死亡率0.27%-0.40%</p>
							<p><em>c)</em>第三级：并存病情严重，体力活动受限，但尚能应付日常活动，围手术死亡率1.82%-4.30%</p>
						</li>
						<li>
							<span>2</span>
							<p class="first">投保产品：最多可投保三分（保额可叠加），超过部分无效。</p>
						</li>
						<li>
							<span>3</span>
							<p class="first">投保理赔：出险时请于48小时内拨打公司电话<em>95586</em>,以便客服给予您及时的索赔知道。</p>
						</li>
						<li>
							<span>4</span>
							<p class="first">投保范围：在二级以上（含二级）公立医院。</p>
						</li>
						<li>
							<span>5</span>
							<p class="first">公司联系：保险条款、承保、理赔信息可通过<em>www.dbic.com.cn</em>或致电<em>95586</em>取得联系。</p>
						</li>
						<li>
							<span>6</span>
							<p class="first">官网地址：<em>http/www.dbic.com.cn/cblpzzcx/index.jhtml.</em></p>
						</li>

					</ul>
				</div>
			</div>
			<!--底部-->
			<div class="foot"><img src="{CSS_PATH}baoxian/img/pic39.png" /></div>
			<footer>
				<div>
					<span><p>都邦客服电话</p><p>出险理赔电话</p></span>
					<strong>：95586</strong>
				</div>
			</footer>
		</div>
	</body>

</html>