{template "content","header"}
		<!--********-->
		<div class="banner"><img src="{IMG_PATH}726/on-banner.png" /></div>
		<!--************************-->
		<div class="hos_main">
			<div class="left_nav">
				<div class="list_top" style="background: url({IMG_PATH}726/jiancha_nav.png) no-repeat;">
					<span><img src="{IMG_PATH}726/jc-heng.png"/></span>科室特色
				</div>
				{pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
				<ul>
				{loop $data $r}
							
								<li>
									
										<span><img src="{IMG_PATH}726/ks1.png"/></span>
										<p><a href="{$r[url]}" target="_blank">{$r[title]}</a></p>
									
								</li>
							
							
				{/loop}
				
					<!-- <li class="check"> -->
						<!-- 科室介绍 -->
						<!-- <span style="background: url({IMG_PATH}726/baijiao.png) no-repeat;"></span> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- 医护团队 -->
						<!-- <span style="background: url({IMG_PATH}726/huijiao.png) no-repeat;"></span> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- 出诊时间 -->
						<!-- <span style="background: url({IMG_PATH}726/huijiao.png) no-repeat;"></span> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- 特色技术 -->
						<!-- <span style="background: url({IMG_PATH}726/huijiao.png) no-repeat;"></span> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- 健康教育 -->
						<!-- <span style="background: url({IMG_PATH}726/huijiao.png) no-repeat;"></span> -->
					<!-- </li> -->
				</ul>
			</div>
			<!--*****-->
			<div class="weizhi" style="background: url({IMG_PATH}726/yybj.png) no-repeat;background-size: 100% 100%;">
				<span><i>当前位置：</i>{catpos($catid)}</span>
			</div>
			<!--*******************************-->
			<div class="hos_box">
				
				<div class="hos_content1">
					<div class="jieshao louti">
						<div class="news_left_top">
							<div class="left_bt"><span><img src="{IMG_PATH}726/quan.png"/></span><i>{$title}</i></div>
						</div>
						{$content}
					</div>
					
					<!-- <div class="expert louti"> -->
						<!-- <div class="left_bt"><span><img src="{IMG_PATH}726/quan.png"/></span><i>医护团队</i></div> -->
						<!-- <ul> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
							<!-- <li> -->
								<!-- <a href="#"> -->
									<!-- <span><img src="{IMG_PATH}726/zhuanjia.png"/></span> -->
									<!-- <p>李静海</p> -->
									<!-- <p>教授 主任医师</p> -->
								<!-- </a> -->
							<!-- </li> -->
						<!-- </ul> -->
					<!-- </div> -->
					<!-- <div class="visit louti"> -->
						<!-- <div class="left_bt"><span><img src="{IMG_PATH}726/quan.png"/></span><i>出诊时间</i></div> -->
						<!-- <table border="" cellspacing="" cellpadding=""> -->
							<!-- <tr> -->
								<!-- <th>时段</th> -->
								<!-- <th>职称</th> -->
								<!-- <th>星期一</th> -->
								<!-- <th>星期二</th> -->
								<!-- <th>星期三</th> -->
								<!-- <th>星期四</th> -->
								<!-- <th>星期五</th> -->
								<!-- <th>星期六</th> -->
								<!-- <th>星期日</th> -->
							<!-- </tr> -->
							<!-- 第一行 -->
							<!-- <tr> -->
								<!-- <td rowspan="2">上午</td> -->
								<!-- <td>主任医师</td> -->
								<!-- <td>李静海</td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td>李静海</td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
							<!-- </tr> -->
							<!-- 第二行 -->
							<!-- <tr> -->
								<!-- <td>副主任医师</td> -->
								<!-- <td>李静海</td> -->
								<!-- <td>李静海</td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
							<!-- </tr> -->
							<!-- 第三行 -->
							<!-- <tr> -->
								<!-- <td rowspan="2">下午</td> -->
								<!-- <td>主任医师</td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td>李静海</td> -->
							<!-- </tr> -->
							<!-- 第四行 -->
							<!-- <tr> -->
								<!-- <td>副主任医师</td> -->
								<!-- <td>李静海</td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td>李静海</td> -->
							<!-- </tr> -->
							<!-- 第五行 -->
							<!-- <tr> -->
								<!-- <td rowspan="2">晚上</td> -->
								<!-- <td>主任医师</td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
							<!-- </tr> -->
							<!-- 第六行 -->
							<!-- <tr> -->
								<!-- <td>副主任医师</td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
								<!-- <td></td> -->
							<!-- </tr> -->
						<!-- </table> -->
					<!-- </div> -->
					<!--****特色技术***-->
					<!-- <div class="tese louti"> -->
						<!-- <div class="left_bt"><span><img src="{IMG_PATH}726/quan.png"/></span><i>特色技术</i></div> -->
						<!-- 正在建设中..... -->
					<!-- </div> -->
					<!--******健康教育*****-->
					<!-- <div class="Healthy louti"> -->
						<!-- <div class="left_bt"><span><img src="{IMG_PATH}726/quan.png"/></span><i>健康教育</i></div> -->
						<!-- 正在建设中..... -->
					<!-- </div> -->
				</div>
			</div>
		</div>
		<!--****-->
{template "content","footer"}