<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>影音娱乐</title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}714/common.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}714/Film.css" />
	</head>

	<body>
		<header>
                   
			<div class="top">
				<span><a href="{siteurl($siteid)}/"><img src="{IMG_PATH}714/back_2.png"/></a>首页</span>
				<h1>{$title}</h1>
			</div>
                 
		</header>
            
		<div class="film_list">
			
			<div class="content">
                            
				<div class="content_list">
                     <center>{$content}</center>
				</div>
			</div>
		</div>
 
	</body>

</html>
					
		
				