<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>保险</title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}baoxian/css/common.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}baoxian/css/style.css" />
		<script type="text/javascript" src="{CSS_PATH}baoxian/js/jquery-1.11.0.min.js" /></script>
		<script type="text/javascript" src="{CSS_PATH}baoxian/js/jquery.lazyload.js" /></script>
		<script type="text/javascript">
			$('img.lazy').lazyload();
		</script>
	</head>

	<body>
		{$content}
	</body>

</html>