{template "content","header"}

		<div class="swiper-container" style="height: 13rem;margin-top: 0;">
			<div class="swiper-wrapper">
				<div class="swiper-slide div2">
					<img src="{IMG_PATH}111/261banner1.png" />
				</div>
				<div class="swiper-slide div4">
					<img src="{IMG_PATH}111/261banner3.png" />
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<script>
			var mySwiper = new Swiper ('.swiper-container', {
				loop: true,
				prevButton:'.swiper-button-prev',
				nextButton:'.swiper-button-next',
				// 如果需要分页器
				pagination: '.swiper-pagination',
				paginationClickable :true,
			})
		</script>
		<!--************************-->
		<div class="on_main">
			<ul class="on_main_top">
				<li>
					<a href="{$CATEGORYS[448][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img1.png" />
						<p><span>科室特色</span>/<strong>Department</strong></p>
					</a>
				</li>
				<li>
					<a href="{$CATEGORYS[449][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img2.png" />
						<p><span>医生团队</span>/<strong>Doctor</strong></p>
					</a>
				</li>
				<li>
					<a href="{$CATEGORYS[450][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img3.png" />
						<p><span>医院新闻</span>/<strong>News</strong></p>
					</a>
				</li>
				<li style="position: relative;">
					<a href="{$CATEGORYS[452][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img4.png" />
						<p><span>就医指南</span>/<strong>Guide</strong></p>
					</a>
				</li>
			</ul>
			<!--*********科室特色************-->
			<div class="depas">
				<div class="news_left_top">
					<div class="left_bt"><span><img src="{IMG_PATH}726/quan.png"/></span>医生团队</div>
					<a class="more" href="{$CATEGORYS[449][url]}">更多+</a>
				</div>
				 {pc:content action="lists" catid="449" num="7" order="id asc" return="info"}
					<ul class="depa_list">
					{loop $info $v}
						<li> 
							<a href="{$v['url']}" style="display: block;overflow: hidden;"> 
								<span><img src="{$v[thumb]}"/></span> 
								<p>{str_cut($v['title'],40)}</p>
							</a>
						</li>	
					{/loop}
					
					
				</ul>
			{/pc}
			</div>
		
		</div>
{template "content","footer"}	