<!-- header开始 -->
<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>医院首页</title>
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/common.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}726/Online_hospital.css" />
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/footer.css"/>
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/swiper/swiper-3.3.1.min.css" />
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/Department.css" />
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}920/xiangqing.css" />
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/Hospital_profile.css" />
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/Department_details.css" />
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/pagination.css" />
		<link rel="stylesheet" type="text/css"  href="{CSS_PATH}726/doctor.css" />
		
	</head>

	<body>
		<header>
			<div class="top">
			
				<span><a><img src="{IMG_PATH}726/back.png"/></a>首页</span>
				<div class="On_logo"><img src="{IMG_PATH}920/logo2.png" /></div>
				<ul class="nav_list">
				
					
				
				
					<li>
						<a href="/">医院首页</a>
					</li>
					<li>
						<a href="{$CATEGORYS[135][url]}">医院概况</a>
					</li>
					<li>
						<a href="{$CATEGORYS[140][url]}">科室介绍</a>
					</li>
					<li>
						<a href="{$CATEGORYS[138][url]}">医护团队</a>
					</li>
					<li>
						<a href="{$CATEGORYS[141][url]}">特色技术</a>
					</li>
					<li>
						<a href="{$CATEGORYS[142][url]}">门诊医师</a>
					</li>
					<li>
						<a href="{$CATEGORYS[144][url]}">宣传栏</a>
					</li>
					<li>
						<a href="{$CATEGORYS[143][url]}">注意事项</a>
					</li>
				</ul>
			
			</div>
		</header>