/*医疗大板*/
@media screen and (min-width:1500px) {
	/*首页轮播图*/
	.swiper-container {
		width: 98%;
		height: 18rem;
		margin-top: 0;
		padding: 10px 0;
		box-sizing: border-box;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	/*医院内分布*/
	.row .nav-list li {
    width: 16%;
	    height: 10.9rem;
	    background: url(../img/pic8.png) no-repeat;
	    background-size: 100% 100%;
	    position: relative;
	}
	/*健康百科*/
	.Healthy .top-bt {
	    width: 74.5%;
	    height: 3rem;
	    font-size: 1.3rem;
	    color: #666;
	    line-height: 3rem;
	}
	.Healthy .top-bt span {
	    display: block;
	    float: left;
	    width: 1.1rem;
	    height: 1.05rem;
	    margin: 1rem 0.5rem 0 0.5rem;
	}
	.Healthy .top-bt a {
	    display: block;
	    float: right;
	    line-height: 3rem;
	    margin-right: 1.2rem;
	    color: #999;
	    font-size: 1.2rem;
	}
	.Healthy .jiankangbaike li a div {
	    width: 100%;
	    height: 10.15rem;
	    border: 1px solid #ccc;
	}
	.Healthy .jiankangbaike li a span {
	    display: block;
	    width: 100%;
	    height: 1.5rem;
	    color: #666;
	    font-size: 1.2rem;
	}
	.m-food ul li a span {
	    display: block;
	    width: 33%;
	    height: 3.6rem;
	    float: left;
	}
	.m-food ul li a p {
	    width: 63%;
	    float: right;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    color: #333;
	    font-size: 1.1rem;
	}
	.m-food ul li a i {
	    width: 63%;
	    float: right;
	    color: #e01d1d;
	    font-size: 1.1rem;
	}
	/*医疗健康保险*/
	.Insurance .top-bt {
	    width: 74.5%;
	    height: 3rem;
	    font-size: 1.3rem;
	    color: #666;
	    line-height: 3rem;
	}
	.Insurance .top-bt span {
	    display: block;
	    float: left;
	    width: 1.1rem;
	    height: 1.05rem;
	    margin: 1rem 0.5rem 0 0.5rem;
	}
	.Insurance .top-bt a {
	    display: block;
	    float: right;
	    line-height: 3rem;
	    margin-right: 1rem;
	    color: #999;
	    font-size: 1.2rem;
	}
	.Insurance .baoxian li {
	    width: 23.7%;
	    height: 9.9rem;
	    float: left;
	    margin: 0 0.25rem 0.5rem 0.25rem;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	    background: url(../img/pic1.png) no-repeat;
	    background-size: 100% 100%;
	}
	/*科室推荐*/
	.top-bt {
	    width: 100%;
	    height: 3rem;
	    font-size: 1.3rem;
	    color: #666;
	    line-height: 3rem;
	}
	.top-bt span {
	    display: block;
	    float: left;
	    width: 1.1rem;
	    height: 1.05rem;
	    margin: 1rem 0.5rem 0 0.5rem;
	}
	.top-bt a {
	    display: block;
	    float: right;
	    line-height: 3rem;
	    margin-right: 1rem;
	    color: #999;
	    font-size: 1.2rem;
	}
	.Department-s .keshi li {
	    width: 9%;
	    height: 6.5rem;
	}
	.Department-s .keshi li a span {
	    display: block;
	    width: 4.5rem;
	    height: 4.5rem;
	    margin: 0 auto;
	}
	.Department-s .keshi li a p {
	    text-align: center;
	    color: #666666;
	    font-size: 1.2rem;
	    line-height: 2rem;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.Department-s .Doctor li a div {
	    width: 100%;
	    height: 13.2rem;
	}
	.Department-s .Doctor li a p {
	    text-align: center;
	    color: #333333;
	    font-size: 1.2rem;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    line-height: 1.3rem;
	}
	/*周边服务*/
	.map-main{
		width: 100%;
		height: 44rem;
		margin-bottom: 0.5rem;
		margin-top: 1rem;
		overflow: hidden;
	}
	.map {
		width: 96%;
		height: 44rem;
		background: #fff;
		border: 1px solid #cccccc;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}
	.tuijian_listbox1 {
	    width: 50%;
	    height: 2.25rem;
	    background: #fff;
	    border: 1px solid #ccc;
	    position: absolute;
	    top: 3.5rem;
	    left: 2rem;
	    z-index: 999;
	}
	.tuijian_list2 li {
	    width: 14%;
	    height: 100%;
	    line-height: 2.25rem;
	    text-align: center;
	    color: #666666;
	    float: left;
	}
	.map-box {
	    width: 96%;
	    height: 21.5rem;
	    border: 1px solid gray;
	    float: left;
	    margin: 0 1rem 1rem;
	}
	/*Chart-list*/
	.btn-list {
	    width: 97%;
	    height: 3rem;
	    margin: 0.5rem auto;
	}
	.btn-list li {
	    width: 15%;
	    height: 100%;
	    float: left;
	    margin: 0 0.5rem;
	    background: #EEEEEE;
	    text-align: center;
	    font-size: 1.2rem;
	    border-radius: 10px;
	    overflow: hidden;
	}
	.btn-list li a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    line-height: 3rem;
	    color: #333333;
	}
	.jiankangbaike li {
	    width: 19%;
	    float: left;
	    margin: 0 0.25rem 0.5rem 0.25rem;
	    box-sizing: border-box;
	}
	.jiankangbaike li a div {
	    width: 100%;
	    height: 12.15rem;
	    border: 1px solid #ccc;
	}
	.jiankangbaike li a span {
	    display: block;
	    width: 100%;
	    height: 1.5rem;
	    color: #666;
	    font-size: 1.2rem;
	    overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	/*Article-list*/
	.article-list ul li {
	    width: 100%;
	    height: 3.5rem;
	    background: #EEEEEE;
	    margin: 0.2rem 0;
	    overflow: hidden;
	}
	.article-list ul li a p {
	    width: 60%;
	    float: left;
	    line-height: 3.5rem;
	    color: #333333;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.article-list ul li a i {
	    display: block;
	    width: 30%;
	    line-height: 3.5rem;
	    float: right;
	    color: #666666;
	    text-align: right;
	    padding-right: 2rem;
	    box-sizing: border-box;
	}
	/*Department-list 科室列表*/
	.keshi-list ul li {
	    width: 23.6%;
	    height: 3rem;
	    border: 1px solid #cccccc;
	    float: left;
	    margin: 0.5rem 0.5rem;
	    border-radius: 10px;
	    overflow: hidden;
	    background: #fff;
	}
	.keshi-list ul li a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    font-size: 1.2rem;
	    color: #666666;
	    line-height: 3rem;
	}
	/*Department-rn 科室详情页*/
	.keshi-xq h1 {
	    width: 100%;
	    line-height: 3rem;
	    font-size: 1.3rem;
	    color: #333;
	    text-align: center;
	}
	.keshi-xq p {
	    font-size: 1.2rem;
	    color: #666666;
	    line-height: 2.5rem;
	    padding: 0 1.25rem;
	    box-sizing: border-box;
	    text-indent: 2rem;
	}
	/*details 详情页*/
	.content {
    	width: 96%;
    	height: 100%;
	    background: #fff;
	    border: 1px solid #cccccc;
	    margin: 0 auto;
	}
	.content h1 {
	    text-align: center;
	    line-height: 3.3rem;
	    color: #333;
	    font-size: 1.3rem;
	}
	.content p {
		font-size: 1.2rem;
	    padding: 1.25rem;
	    box-sizing: border-box;
	}
	/*Doctor 医生详情页*/
	.doctor-img {
	    width: 15.6%;
	    height: 14rem;
	    margin: 0.5rem;
	    float: left;
	}
	/*doctor-list  医生列表页*/
	.doctor-list ul li {
	    width: 15.6%;
	    height: 15rem;
	    float: left;
	    margin: 0.25rem 0.25rem;
	    position: relative;
	    overflow: hidden;
	}
	.doctor-list ul li a span {
	    display: block;
	    background: #b894d7;
	    color: #fff;
	    text-align: center;
	    font-size: 1rem;
	    border-radius: 5px;
	    padding: 0.25rem 0.5rem;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
		.doctor-list ul li a p {
	    width: 100%;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    font-size: 1.2rem;
	    color: #fff;
	    padding-left: 0.5rem;
	    line-height: 1.5rem;
	    background: rgba(0,0,0,0.5);
	}
	/*智慧医院*/
	.up {
	    width: 7.75rem;
	    height: 2.5rem;
	    position: absolute;
	    bottom: 0.2rem;
	    left: 45.5%;
	    -webkit-animation-name: 'play';
	    -webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: ease;
	    -webkit-animation-delay: 0s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-direction: alternate;
	}
	.banner-a {
	    width: 73%;
	    height: 17rem;
	    float: left;
	}
	.hos-list1 {
	    width: 25%;
	    height: 17rem;
	    float: right;
	}
	.hos-list1 li a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    line-height: 3.25rem;
	    text-align: center;
	    color: #fff;
	    font-size: 1.3rem;
	}
	.hos-list2 li {
	    width: 15.9%;
	    height: 13rem;
	    position: relative;
	    overflow: hidden;
	}
	.hos-list2 li a span {
	    display: block;
	    background: #b894d7;
	    color: #fff;
	    text-align: center;
	    font-size: 1rem;
	    border-radius: 5px;
	    padding: 0.2rem 0.5rem;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.hos-list2 li a p {
	    width: 100%;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    font-size: 1rem;
	    color: #fff;
	    padding-left: 0.5rem;
	    line-height: 1.5rem;
	    background: rgba(0,0,0,0.5);
	}
	.hos-list2 li a i {
	    display: block;
	    width: 62%;
	    height: 2rem;
	    font-size: 1.1rem;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: auto;
	    color: #fff;
	    background: rgba(0,0,0,0.5);
	    line-height: 2rem;
	    text-align: center;
	    border-radius: 10px;
	}
	.hos-list3 li a p {
	    font-size: 1.2rem;
	    color: #666666;
	    text-align: center;
	    line-height: 2rem;
	}
	/*医普宣教*/
	.banner-yp .swiper-container {
	    width: 98%;
	    height: 20.25rem;
	    margin-top: 0;
	    /* padding: 10px 0; */
	    margin: 0 auto;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	}
	.special li {
	    width: 23%;
	    height: 13.5rem;
	    background: url(../img/pic1.png) no-repeat;
	    background-size: 100% 100%;
	    position: relative;
	}
	.special li i {
	    display: block;
	    width: 3.5rem;
	    height: 1.5rem;
	    font-size: 1rem;
	    text-align: center;
	    line-height: 1.5rem;
	    color: #fff;
	    background: #9966cc;
	    border-radius: 2rem;
	    position: absolute;
	    top: 0.5rem;
	    right: 0.5rem;
	}
	.i-ma {
	    width: 66%;
	    height: 60%;
	    background: rgba(0, 0, 0, 0.5);
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: auto;
	    border-radius: 0.2rem;
	}
	.i-ma h1 {
	    text-align: center;
	    color: #fff;
	    font-size: 1.3rem;
	    line-height: 4rem;
	}
	.i-ma a {
	    display: block;
	    width: 6.4rem;
	    height: 1.8rem;
	    font-size: 1rem;
	    border: 1px solid #fff;
	    color: #fff;
	    text-align: center;
	    line-height: 1.8rem;
	    margin: 0 auto;
	    border-radius: 2rem;
	}
	.Recommend {
		width: 96%;
		height:48rem;
		background: #fff;
		border: 1px solid #cccccc;
		margin: 0 auto;
		overflow: hidden;
		overflow-y:auto;
	}
	.Recommend ul li {
	    width: 19%;
	    height: 11.25rem;
	    float: left;
	    margin: 0 0.25rem 0.5rem 0.25rem;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	    background: url(../img/pic1.png) no-repeat;
	    background-size: 100% 100%;
	}
	.Recommend ul li a span {
	    display: block;
	    width: 100%;
	    height: 2rem;
	    line-height: 2rem;
	    background: rgba(0, 0, 0, 0.5);
	    color: #fff;
	    font-size: 1.2rem;
	    padding-left: 1rem;
	    box-sizing: border-box;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	.hot-left {
	    width: 28.3%;
	    height: 28rem;
	    border: 1px solid #ccc;
	    background: url(../img/pic4.png) no-repeat;
	    background-size: 100% 100%;
	    float: left;
	    position: relative;
	    margin-bottom: 0.8rem;
	}
	.hot-left a span {
	    display: block;
	    width: 100%;
	    height: 2rem;
	    background: rgba(0, 0, 0, 0.5);
	    color: #fff;
	    font-size: 1.2rem;
	    line-height: 2rem;
	    padding-left: 1rem;
	    box-sizing: border-box;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	.hot-box ul li {
	    width: 32%;
	    height: 13.8rem;
	    border: 1px solid #ccc;
	    float: left;
	    margin: 0 0.25rem 0.5rem 0.25rem;
	    box-sizing: border-box;
	    background: url(../img/pic1.png) no-repeat;
	    background-size: 100% 100%;
	    position: relative;
	}
	.hot-box ul li a span {
	    display: block;
	    width: 100%;
	    height: 2rem;
	    line-height: 2rem;
	    background: rgba(0, 0, 0, 0.5);
	    color: #fff;
	    font-size: 1.2rem;
	    padding-left: 1rem;
	    box-sizing: border-box;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	/*special-list 列表*/
	.Recommend ul li {
	    width: 19%;
	    height: 12.25rem;
	    float: left;
	    margin: 0 0.25rem 0.5rem 0.25rem;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	    background: url(../img/pic1.png) no-repeat;
	    background-size: 100% 100%;
	}
}