        <footer>
			<ul>
				<li>北京市丰台区长辛店东山坡三里甲60号（原北京市丰台区长辛店医院）</li>
				<li><span>特别声明：</span>本站内容仅供参考，不作为诊断及医疗依据</li>
				<li>京卫网审字［2005］第11号 京ICP备05065033号</li>
				<li><span>技术支持：</span>北京医链通科技有限责任公司</li>
			</ul>
			
		</footer>
</div>
<div class="container">
			<!--**头部**-->
			<header>
				<span class="col-xs-5"><a href="http://119.90.88.62:88"><i><img src="{CSS_PATH}1020/logo.png"/></i>医汇联</a></span>
				<span class="col-xs-3"><i><img src="{CSS_PATH}1020/menu.png"/></i>菜单</span>
			</header>
			<ul class="menu">
				<li><a href="http://119.90.88.62:88">首页</a></li>
				<li><a href="http://119.90.88.62:88">合作医院</a></li>
				<li><a href="https://weidian.com/?userid=1154968935&wfr=wechatpo_keywords_shop">微商城</a></li>
				<li><a href="http://119.90.88.62:88/html/jiuzhenxuzhi/">就诊须知</a></li>
			</ul>
			<!--**导航**-->
			<div class="row father">
				<div class="hot-sale">
					<ul class="hot-title">
						
					<li>
						<a href="/">医院首页</a>
					</li>
					<li>
						<a href="{$CATEGORYS[352][url]}">医院概况</a>
					</li>
					<li>
						<a href="{$CATEGORYS[362][url]}">科室介绍</a>
					</li>
					<li>
						<a href="{$CATEGORYS[366][url]}">专家介绍</a>
					</li>
					<li>
						<a href="{$CATEGORYS[368][url]}">特色技术</a>
					</li>
					<li>
						<a href="{$CATEGORYS[369][url]}">相关须知</a>
					</li>
					</ul>
					
				</div>
			</div>
			<!--**广告图**-->
			<div class="row banner">
				<img src="{IMG_PATH}1020/lunbo.png"/>
			</div>
			
			<div class="row article">
			{pc:content action="lists" catid="$catid"  order="inputtime DESC" page="$page"}
				<ul>
				{loop $data $val}
					<li><a href="{$val['url']}"><span><img src="{IMG_PATH}726/biaotou.png"/></span>{$val['title']}</a></li>
				{/loop}
				</ul>
			{/pc}
			<div class="fenye">{$pages}</div>
			
			</div>
			
			<!--**专家介绍**-->
			
			<!--**底部**-->
			<footer>2017医汇联  版权所有</footer>
		</div>
	</body>
	

</html>