{template "content","header"}

		<div class="swiper-container" style="height: 13rem;margin-top: 0;">
			<div class="swiper-wrapper">
				<div class="swiper-slide div1">
					<img src="{IMG_PATH}118/banner309.png" />
				</div>
				<div class="swiper-slide div2">
					<img src="{IMG_PATH}118/banner309.png" />
				</div>
				<div class="swiper-slide div3">
					<img src="{IMG_PATH}118/banner309.png" />
				</div>
				<div class="swiper-slide div4">
					<img src="{IMG_PATH}118/banner309.png" />
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<!--************************-->
		<div class="on_main">
			<ul class="on_main_top">
				<li>
					<a href="{$CATEGORYS[430][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img1.png" />
						<p><span>科室特色</span>/<strong>Department</strong></p>
					</a>
				</li>
				<li>
					<a href="{$CATEGORYS[425][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img2.png" />
						<p><span>医生团队</span>/<strong>Doctor</strong></p>
					</a>
				</li>
				<li>
					<a href="{$CATEGORYS[458][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img3.png" />
						<p><span>特色技术</span>/<strong>Technology</strong></p>
					</a>
				</li>
				<li style="position: relative;">
					<a href="{$CATEGORYS[428][url]}" style="display: block;overflow: hidden;">
						<img src="{IMG_PATH}726/img4.png" />
						<p><span>相关须知</span>/<strong>Notice</strong></p>
					</a>
				</li>
			</ul>
			<!--*********科室特色************-->
			<div class="depas">
				<div class="news_left_top">
					<div class="left_bt"><span><img src="{IMG_PATH}726/quan.png"/></span>科室特色</div>
					<a class="more" href="{$CATEGORYS[430][url]}">更多+</a>
				</div>
				 {pc:content action="lists" catid="423" num="7" order="id asc" return="info"}
					<ul class="depa_list">
					{loop $info $v}
						<li> 
							<a href="{$v['url']}" style="display: block;overflow: hidden;"> 
								<span><img src="{$v[thumb]}"/></span> 
								<p>{str_cut($v['title'],40)}</p>
							</a>
						</li>
					
					
					{/loop}
					
					
				</ul>
			{/pc}
			</div>
		
		</div>
{template "content","footer"}	