header{
	width: 100%;
	height: 3rem;
}
.top{
	width: 95.6%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.top h1{
	width: 100%;
    height: 100%;
    line-height: 3rem;
    text-align: center;
    color: #333;
    font-size: 0.9rem;
}
.top span{
    display: block;
    width: 4rem;
    height: 100%;
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 3rem;
}
.top span a{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    margin-top: 0.9rem;
    margin-right: 0.5rem;
}

.nav_img1 {
	display: inline-block;
	width: 5.8rem;
	height: 1.7rem;
	margin-top: 1.15rem;
	margin-left: 1.5rem;
	color: #fff;
	font-size: 0.8rem;
	line-height: 1.7rem;
	text-align: center;
	float: left;
}
.nav_img2 {
	display: inline-block;
	width: 5.8rem;
	height: 1.7rem;
	color: #333333;
	font-size: 0.8rem;
	line-height: 1.7rem;
	text-align: center;
	float: left;
	margin: 4.5rem 0 0 -6.15rem;
}
.canteen_list{
	width: 100%;
    /*height: 100%;*/
    box-sizing: border-box;
    overflow: hidden;
}
.canteen{
	width: 84%;
	float: left;
	margin-left: 2.1rem;
}
.foot_list{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-bottom: 2rem;
}
.foot_list div{
	width: 14.6%;
	height: 100%;
	float: left;
	background-color: #f6f8f9;
	margin: 1.15rem 1.15rem 0 0;
	border-bottom: 0.1rem solid #dcddde;
}
.foot_list div img{
	width: 100%;
	height: 9rem;
}
.foot_list div p{
	font-size: 0.7rem;
	color: #333333;
	text-align: center;
	line-height: 2rem;
}
.foot_list div a{
	display: block;
	width: 2.2rem;
	height: 0.8rem;
	background-color: #65d3e3;
	font-size: 0.6rem;
	text-align: center;
	margin: 0 auto 1.1rem;
}
.div1{
	display: none;
}
