/*医疗小板*/
@media screen and (max-width:1300px) {
	.On_logo {
		display: none;
	}
	.nav_list {
		width: 95%;
		height: 61%;
		margin: 0.8rem 0 0 2rem;
		float: left;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.on_main_top li img {
		width: 100%;
		height: 8.05rem;
	}
}