        <footer>
			<ul>
				<li>北京市第一中西医结合医院</li>
				<li><span>医院分院区：</span>CBD院区 东坝院区 来广营院区</li>
				<li><span>特别声明：</span>本站内容仅供参考，不作为诊断及医疗依据</li>
				<li>京卫计网审[2014]第00161号 京ICP备13028133号-1 京公安网备11010502030482</li>
				<li><span>技术支持：</span>北京医链通科技有限责任公司</li>
			</ul>
			<div class="qr_code">
				<div style="float: left;">
					<span><img src="{IMG_PATH}726/qrcode.png"/></span>
					<a><i><img src="{IMG_PATH}726/weixin.png"/></i>微信</a>
				</div>
				<div style="float: right;">
					<span><img src="{IMG_PATH}726/qrcode2.png"/></span>
					<a><i><img src="{IMG_PATH}726/weibo.png"/></i>微博</a>
				</div>
			</div>
		</footer>
</div>
<div class="container">
			<!--**头部**-->
			<header>
				<span class="col-xs-5"><a href="http://119.90.88.62:88"><i><img src="{CSS_PATH}1020/logo.png"/></i>医汇联</a></span>
				<span class="col-xs-3"><i><img src="{CSS_PATH}1020/menu.png"/></i>菜单</span>
			</header>
			<ul class="menu">
				<li><a href="http://119.90.88.62:88">首页</a></li>
				<li><a href="http://119.90.88.62:88">合作医院</a></li>
				<li><a href="https://weidian.com/?userid=1154968935&wfr=wechatpo_keywords_shop">微商城</a></li>
				<li><a href="http://119.90.88.62:88/html/jiuzhenxuzhi/">就诊须知</a></li>
			</ul>
			<!--**导航**-->
			<div class="row father">
				<div class="hot-sale">
					<ul class="hot-title">
						<li>
						<a href="/">医院首页</a>
					</li>
					<li>
						<a href="{$CATEGORYS[79][url]}">医院概况</a>
					</li>
					<li>
						<a href="{$CATEGORYS[75][url]}">科室介绍</a>
					</li>
					<li>
						<a href="{$CATEGORYS[83][url]}">医护团队</a>
					</li>
					<li>
						<a href="{$CATEGORYS[77][url]}">出诊时间</a>
					</li>
					<li>
						<a href="{$CATEGORYS[85][url]}">注意事项</a>
					</li>
					</ul>
				</div>
			</div>
			<!--**广告图**-->
			<div class="row banner">
				<img src="{IMG_PATH}1020/lunbo.png"/>
			</div>
			{pc:get sql="select * from v9_category where parentid=76 order by catid asc" return="data"}
				<ul class="yam_page_btn">
				{loop $data $r}
	
					<li>
						
						<a href="{$r['url']}">{$r['catname']}</a>
					</li>
				{/loop}
				</ul>
			{/pc}
			<!--**科室**-->
			<div class="row department">
				<h1>专家介绍</h1>
				
						
				<ul>
				{pc:content action="category" catid="83"  siteid="$siteid" order="listorder ASC"}
								
					{loop $data $rq}
							
					<li class="col-xs-3">
						<a href="{$rq[url]}">
							<span><img src="{$rq[image]}"/></span>
							<p>{$rq[catname]}</p>
						</a>
					</li>
					{/loop}
				{/pc}	
				</ul>
				<div class="fenye">
				{$pages}
				</div>
				
			</div>
			
			<!--**专家介绍**-->
			
			<!--**底部**-->
			<footer>2017医汇联  版权所有</footer>
		</div>
	</body>
	

</html>