        <footer>
			<ul>
				<li>北京华信医院（清华大学第一附属医院）</li>
				<li><span>医院地址：</span>北京市朝阳区酒仙桥一街坊6号</li>
				<li><span>特别声明：</span>本站内容仅供参考，不作为诊断及医疗依据</li>
				<li>京卫计网审[2014]第00161号 京ICP备13028133号-1 京公安网备11010502030482</li>
				<li><span>技术支持：</span>北京市医链通科技有限公司</li>
			</ul>
			
		</footer>
</div>
<div class="container">
			<!--**头部**-->
			<header>
				<span class="col-xs-5"><a href="index.html"><i><img src="../img/logo.png"/></i>互医护通</a></span>
				<div class="dropdown col-xs-4">
					<span data-toggle="dropdown"><i><img src="../img/menu.png"/></i>菜单</span>
					<ul class="dropdown-menu" role="menu">
						<li><a href="index.html">首页</a></li>
						<li><a href="#">合作医院</a></li>
						<li><a href="#">微商城</a></li>
						<li><a href="#">就诊须知</a></li>
					</ul>
				</div>
			</header>
			<!--**导航**-->
			<div class="row father">
				<div class="hot-sale">
					<ul class="hot-title">
						<li class="active"><a href="/">医院首页</a></li>
						<li><a href="{$CATEGORYS[201][url]}">{$CATEGORYS[201][catname]}</a></li>
					
						<li><a href="{$CATEGORYS[203][url]}">{$CATEGORYS[203][catname]}</a></li>
						<li><a href="{$CATEGORYS[207][url]}">{$CATEGORYS[207][catname]}</a></li>
							<li><a href="{$CATEGORYS[213][url]}">{$CATEGORYS[213][catname]}</a></li>
					</ul>
					</ul>
				</div>
			</div>
			<!--**广告图**-->
			<div class="row banner">
				<img src="{IMG_PATH}1020/lunbo.png"/>
			</div>
			
			<!--**科室**-->
			<div class="row doctor">
			
				<div class="doc_nr">
					<div class="doc_top">
						<span class="col-xs-3"><img src="{$thumb}"/></span>
						<ul>
							<li>姓名:{$title}</li>
							<li>科室：{$CATEGORYS[$catid][catname]}</li>
						
						</ul>
						<div class="doc_center" style="float: left;width: 68%;margin-left: 1.7rem;">
							{$content}
						</div>
					</div>
					
					
				</div>
			</div>
			<!--**专家介绍**-->
			
			<!--**底部**-->
			<footer>2017互医护通  版权所有</footer>
		</div>
	</body>
	

</html>