<footer>
			<ul>
				<li>北京市第一中西医结合医院</li>
				<li><span>医院分院区：</span>CBD院区 东坝院区 来广营院区</li>
				<li><span>特别声明：</span>本站内容仅供参考，不作为诊断及医疗依据</li>
				<li>京卫计网审[2014]第00161号 京ICP备13028133号-1 京公安网备11010502030482</li>
				<li><span>技术支持：</span>北京市医链通科技有限公司</li>
			</ul>
			<div class="qr_code">
				<div style="float: left;">
					<span><img src="{IMG_PATH}726/qrcode.png"/></span>
					<a><i><img src="{IMG_PATH}726/weixin.png"/></i>微信</a>
				</div>
				<div style="float: right;">
					<span><img src="{IMG_PATH}726/qrcode.png"/></span>
					<a><i><img src="{IMG_PATH}726/weibo.png"/></i>微博</a>
				</div>
			</div>
		</footer>
	</body>
	

</html>