<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}120/css/common.css">
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/ultimate.css"/>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}120/css/thems.css" />
		<!-- <link rel="stylesheet" type="text/css" href="{CSS_PATH}120/css/responsive.css" /> -->
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}120/swiper/swiper-3.3.1.min.css" />
		<script src="{CSS_PATH}120/js/jquery-2.2.3.min.js"></script>
		<script src="{CSS_PATH}120/swiper/swiper-3.3.1.min.js"></script>
		<style type="text/css">
			@media screen and (min-width:1500px) {
				.Recommend {
					width: 96%;
					height:48rem;
					background: #fff;
					border: 1px solid #cccccc;
					margin: 0 auto;
					overflow: hidden;
					overflow-y:auto;
				}
			}
		</style>
	</head>
	<body>
		<div style="background: url({CSS_PATH}120/img/img-bj.png) no-repeat;background-size: 100% 100%;height: 100%;width: 100%;float: left;">
			<div class="row">
				
				<div class="Recommend" style="margin-top: 1rem;">
				{pc:content action="lists" catid="$catid" num="20" order="id DESC" page="$page"}
					<ul style="margin-top: 1rem;">
					{loop $data $v}
						<li>
							<a href="{$v[url]}"><img src="{$v[thumb]}"/><span>{$v[title]}</span></a>
						</li>
					{/loop}
						
					</ul>
				{/pc}
				</div>
			</div>
		</div>
	</body>
</html>
