<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>检查报告</title>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/fit.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/query.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/tables.css"/>
</head>
<body>
<!--@@cnt-->
<div class="container">
	<nav>
		<div class="chkbox">
			<ul class="chklist">
				<li><a>全部</a></li>
				<li><a>淋巴</a></li>
				<li><a>血常规</a></li>
				<li><a>某影像</a></li>
				<li><a>某检查</a></li>
				<li><a>某检查</a></li>
				<li><a>某检查</a></li>
				<li><a>某检查</a></li>
			</ul>
			<ul class="chklist2">
				<li class="selected"><a>2018年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
				<li><a>2017年8月9日-某检查</a></li>
			</ul>
		</div>

	</nav>
	<div class="box rptDetail">
		<div class="cx-box"></div>

		<div class="cx-box">
			<div class="tabTitle">检查基本信息</div>
			<div class="chkbasic">
				<h3>样本编号：304</h3>
				<span>送检时间：</span>
				<span>送检科室：</span>
				<span>病床号：</span>
				<span>病历号：</span>
				<span>送检医生：</span>
				<span>报告日期：</span>
				<span>检验医生：朱晓丽</span>
				<span>审核医生：马孝莲</span>
			</div>
			<div class="tabTitle">检查详情</div>
			<!--表格-->
			<div class="table chkview">
				<table>
					<thead>
					<tr>
						<th colspan="2">项目名称</th>
						<th>检查结果</th>
						<th>定性结果</th>
						<th>单位</th>
						<th>参考范围</th>
						<th>医生解释报告</th>
					</tr>
					</thead>
					<tr>
						<td rowspan="9" nowrap="nowrap">淋巴</td>
						<td>淋巴细胞百分比</td>
						<td>39.4</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-10.0</td>
						<td rowspan="9">
							<i style="color:#865fc0">淋巴：</i>升高——脾摘<br>
							除术后、急性大出血、<br>
							溶血等。降低——再生<br>
							障碍性贫血、急性白血<br>
							病、系统性红斑狼疮、<br>
							血小板减少性紫癜及脾<br>
							功能亢进等。
						</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>25.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>26.0</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>42.5</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>31.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>42.5</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>42.5</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>36.5</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
					<tr>
						<td>淋巴细胞百分比</td>
						<td>29.6</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>20%-40%</td>
					</tr>
				</table>
			</div>
		</div>


		<div class="cx-box">
			<div class="tabTitle">检查基本信息</div>
			<div class="chkbasic">
				<h3>样本编号：305</h3>
				<span>送检时间：</span>
				<span>送检科室：</span>
				<span>病床号：</span>
				<span>病历号：</span>
				<span>送检医生：</span>
				<span>报告日期：</span>
				<span>检验医生：朱晓丽</span>
				<span>审核医生：马孝莲</span>
			</div>
			<div class="tabTitle">检查详情</div>
			<!--表格-->
			<div class="table chkview">
				<table>
					<thead>
					<tr>
						<th colspan="2">项目名称</th>
						<th>检查结果</th>
						<th>定性结果</th>
						<th>单位</th>
						<th>参考范围</th>
						<th>医生解释报告</th>
					</tr>
					</thead>
					<tr>
						<td rowspan="9" nowrap="nowrap">血常规</td>
						<td>白细胞计数(血)</td>
						<td>4.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-10.0</td>
						<td rowspan="9">
							<i style="color:#865fc0">血小板</i>：升高——脾摘<br>
							除术后、急性大出血、<br>
							溶血等。降低——再生<br>
							障碍性贫血、急性白血<br>
							病、系统性红斑狼疮、<br>
							血小板减少性紫癜及脾<br>
							功能亢进等。
						</td>
					</tr>
					<tr>
						<td>白细胞计数(血)</td>
						<td>4.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-10.0</td>
					</tr>
					<tr>
						<td>红细胞计数(血)</td>
						<td>4.69</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-5.5</td>
					</tr>
					<tr>
						<td>红细胞积压</td>
						<td>143</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>120-160</td>
					</tr>
					<tr>
						<td>血小板计数</td>
						<td>42.5</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>100-300</td>
					</tr>
					<tr>
						<td>平均红细胞体积</td>
						<td>4.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-10.0</td>
					</tr>
					<tr>
						<td>白细胞计数(血)</td>
						<td>4.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-10.0</td>
					</tr>
					<tr>
						<td>白细胞计数(血)</td>
						<td>4.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-10.0</td>
					</tr>
					<tr>
						<td>白细胞计数(血)</td>
						<td>4.9</td>
						<td>偏高</td>
						<td>10^9/L</td>
						<td>4.0-10.0</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="cx-box">
			<div class="tabTitle">检查基本信息</div>
			<div class="chkbasic">
				<h3>样本编号：306</h3>
				<span>送检时间：</span>
				<span>送检科室：</span>
				<span>病床号：</span>
				<span>病历号：</span>
				<span>送检医生：</span>
				<span>报告日期：</span>
				<span>检验医生：朱晓丽</span>
				<span>审核医生：马孝莲</span>
			</div>
			<div class="tabTitle">检查详情</div>
			<!--表格-->
			<div class="table chkview">
				<table>
					<thead>
						<tr>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tr>
						<td nowrap="nowrap" style="padding:1rem">影像照片</td>
						<td class="imgtd">
							<img src="{CSS_PATH}0524/img/viewport.jpg">
							<img src="{CSS_PATH}0524/img/viewport.jpg">
							<img src="{CSS_PATH}0524/img/viewport.jpg">
						</td>
					</tr>
					<tr>
						<td nowrap="nowrap" style="padding:1rem">影像结论</td>
						<td class="txttd">
							<h3>超声所见</h3>
							<p>
								超声测值：<br>
								双顶径：64mm 头围：237mm 腹围：217mm 股股长颈：47mm 肱骨长度：42mm
								透明隔腔：5.5mm 小脑横径：26mm 后颅窝池径：6.2mm
								HR：158次/分 S/D:2.26 RI:0.56 PI:0.74 胎儿体重881g+_129g
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cx-box">5</div>
		<div class="cx-box">6</div>
		<div class="cx-box">7</div>
		<div class="cx-box">8</div>
	</div>
</div>

<script src="{CSS_PATH}demo121/js/jquery-2.2.3.min.js"/></script>
<script>
	var chkIndex = 1

	$(document).ready(function(){
	  $('.chklist li').click(function(){
	    var chkIndex=$(this).index()
			if(chkIndex==0 || chkIndex>3){
	      return
			}
      chkDetail(chkIndex)
		})

		$('.chklist2 li').click(function () {
			$(this).addClass('selected').siblings().removeClass('selected')
    })

    chkDetail(chkIndex)
	})

  function chkDetail(index){
    $('.chklist li').removeClass('selected')

    $('.chklist li:nth-child('+(index+1)+')').addClass('selected')

    $('.rptDetail div.cx-box').removeClass('show')
    $('.rptDetail div.cx-box:nth-child('+(index+1)+')').addClass('show')



  }


</script>
</body>
</html>





