<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>费用查询</title>
  <link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/fit.css"/>
  <link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/query.css"/>
  <link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/tables.css"/>
</head>
<body>
<!--@@cnt-->
<div class="container">
  <nav>
    <ul class="project">
      <li><span>患者姓名：马斯哲</span></li>
      <li><span>所属科室：</span></li>
      <li><span>入院日期：</span></li>
      <li><span>费用：</span></li>
      <li><span>病人ID：</span></li>
      <li><span>就诊卡号：</span></li>
      <li><span>床位号：</span></li>
    </ul>
  </nav>
  <div class="box">
    <div class="cx-box">
      <ul class="feetitle">
        <li><span>统计时间：</span><i>2018-01-07</i></li>
        <li><span>押金额度：</span><i>12000</i></li>
        <li><span>押金余额：</span><i>6701</i></li>
      </ul>
      <div class="tabTitle">检验详情</div>
      <!--表格-->
      <div class="table">
        <table>
          <thead>
          <tr>
            <th>费用时间</th>
            <th>项目名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>金额</th>
            <th>费用类型</th>
          </tr>
          </thead>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
          <tr>
            <td>2018-05-07</td>
            <td>注射费用</td>
            <td>30.00</td>
            <td>3</td>
            <td>90.00</td>
            <td>医事服务费</td>
          </tr>
        </table>
      </div>
      <!--患者信息-->

    </div>
  </div>
</div>

</body>
</html>





