<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}demo121/css/common.css">
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}demo121/css/thems.css" />
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}0524/css/ultimate.css"/>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}demo121/swiper/swiper-3.3.1.min.css" />
		<script src="{CSS_PATH}demo121/js/jquery-2.2.3.min.js"></script>
		<script src="{CSS_PATH}demo121/swiper/swiper-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
			
				<div class="content" style="margin-top: 1rem;">
					<h1>{$title}</h1> 
					{$content}
				</div>
			</div>
			<!--底部-->
			<div class="row">
				<span class="bottom"><img src="{CSS_PATH}demo121/img/pic5.png"/></span>
			</div>
		</div>
		{template "content","baidu-footer"}
	</body>
</html>
